@import "variables";

@mixin form_input_fields {
	font-size: 14px;
	width: 300px;
	height: 45px;
	line-height: 45px;
	font-size: 18px;
	color: $color-gray;
	outline: none;
	border-radius: 10px;
	padding: 0 15px;
	border: 1px solid $color-gray;
}

@mixin main_data_tile {
	width: 350px;
	height: 250px;
	border-radius: 20px;
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
	background-color: $color-white;
}

@mixin date_data_tile {
	flex: 1 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	h1 {
		color: $color-white;
		font-size: 24px;
	}
}
